<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

  </head>

  <body>

    <header>
      <nav>
        <ul>
          <li><a href="/index/">Home</a></li>
          <li><a href="/work/">Work</a></li>
        </ul>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <h3>Contact
      <ul>
        <li><a href="mailto:{{site.footer-links.email}}" target="_blank">{{site.footer-links.email}}</a></li>
        <li><a href="/images/resume.pdf" download="Avalon_Greenberg_Call-Resume.pdf">Resume</a></li>
      </ul>
      </h3>
    </footer>

    {% include analytics.html %}
  </body>
</html>
